* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: grid;
    grid-template-rows: 50px auto 120px 10px;
    height: 95vh;
}

image {
    width: 100%;
    display: block;
}

header {
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DD4814;
}

header a {
    color: #fff;
}

header nav {
    display: flex;
    gap: 2rem;
}

main {
    width: 1024px;
    margin: 2rem auto;
}

footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #DD4814;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer .environment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem 0;
}

.form-control input,
.form-control textarea {
    padding: 0.5rem;
}

button {
    padding: 0.8rem;
    background: #DD4814;
    ;
    border: none;
    color: #fff;
}